.figure-logo {
    width: 123px;
    height: 46px;
    margin: 21px 0px 0px 17px;
}

.form-search {
    display: flex;
    margin-left: 9px;
    margin-top: 15.48px;
}

.search-product {
    width: 343px;
    height: 54.04px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 33.09px;
    padding: 0px 0px 0px 17px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
}

.button-search-product {
    background-color: rgba(255, 233, 238, 1);
    color: rgba(255, 34, 83, 1);
    width: 44.12px;
    height: 44.12px;
    border: none;
    border-radius: 50%;
    margin: 5px -50px;
    cursor: pointer;
}

nav ul li img {
    /* width: 16.71px; */
    height: 16.71px;
    margin-right: 15px;
}

nav {
    margin-top: 16px;
    margin-bottom: 27px;
    max-width: 700px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav::-webkit-scrollbar {
    display: none;
}

nav ul {
    display: flex;
    margin-left: 9px;
}

nav ul li {
    margin-right: 22px;
}

.search-todos {
    background-color: rgba(248, 249, 250, 1);
    color: black;
    border-radius: 30px;
    border: 1.5px rgba(33, 37, 41, 1) solid;
    padding: 11.5px 15px;
}

.breads {
    background-color: rgba(255, 247, 244, 1);
    border: none;
    padding: 11.5px 15px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruits {
    background-color: rgba(255, 228, 234, 1);
    padding: 11.5px 15px;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drinks {
    background-color: rgba(243, 238, 245, 1);
    padding: 11.5px 15px;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-section {
    display: flex;
    max-width: 700px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.principal-section::-webkit-scrollbar {
    display: none;
}

.card-principal {
    margin-right: 23px;
    margin-left: 10px;
}

.principal-section div figure {
    width: 300px;
    height: 213px;
}

.principal-section div figure img {
    border: 3px solid #FFE9EE;
    border-radius: 8px;
}

.panificadora {
    position: relative;
    top: -28px;
    left: 12px;
    width: 107px;
    background-color: #FFE9EE;
    border: none;
    padding: 6.5px 18px;
    border-radius: 30px;
    display: flex;
    justify-content: space;
    align-items: center;
}

.principal-section div h3 {
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.principal-section .descrição {
    margin-top: 16px;
    text-align: justify;
    font-size: 15px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.botton-div {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botton-div span {
    font-weight: bold;
    font-size: 15px;
}

.botton-div button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    color: #4ACA94;
    background-color: #E4F7EF;
}

.card--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrinho {
    background-color: #FF2253;
    width: 345px;
    height: 60.38px;
    border-radius: 15.0938px 15.0938px 0px 0px;
    margin: 0 auto;
    display: flex;
    margin-top: 27.23px;
    align-items: center;
}

.carrinho-p {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 17.1px;
    line-height: 28px;

}

.carrinho-add {
    display: flex;
    flex-direction: column;
    height: 405px;
    width: 345px;
}

.cart {
    width: 75.47px;
    height: 75.47px;
    border-radius: 8.625px;
}

.iconecart {
    color: #FFFFFF;
    margin: 0 23px;
}

.card-carrinho {
    display: flex;
    margin-bottom: 46.36px;
    justify-content: space-between;

}

.btn-trash {
    background: #F8F9FA;
    border-radius: 4.3125px;
    width: 26.95px;
    height: 26.95px;
    border: none;
    color: #868E96;
    margin-right: 16px;
}

aside {
    display: flex;
    flex-direction: column;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.empty-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 20px;
    background-color: #F8F9FA;
}

.fa-shopping-bag{
    color: #868E96;
    font-size: 40px;
}

@media (min-width: 700px) {

    header{
        display: flex;
        justify-content: space-between;
        padding: 0 250px;
        box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.25);
    }

    .form-search {
        margin-bottom: 16px;
    }

    main {
        display: flex;
        margin: 20px 250px 0;
        justify-content: space-between;
    }

    nav, .principal-section {
        max-width: none;
    }

    .principal-section {
        flex-wrap: wrap;
        width: 1000px;
        max-height: 900px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .principal-section::-webkit-scrollbar {
        display: none;
    }

    .card-principal {
        width: 300px;
        height: 369px;
    }

    .carrinho-add {
        max-height: 405px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .carrinho-add::-webkit-scrollbar {
        display: none;
    }
}